
.normal {
	text-align: center;
	padding-top: 150px;
	background-color: #fff;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.welcome {
	height: 328px;
	background: url(../../assets/yay.jpg) no-repeat center 0;
	background-size: 388px 328px;
	margin-top: 50px;
}